extends layout

block content
    .container
        .col-md-6.offset-md-3.login-form
            .card
                .card-header
                    p.login-title Sign in
                .card-body
                    form(action="/login" method="post")
                        .form-group
                            input(type="text" name="username" autocomplete="off" placeholder="Username" class="form-control")
                        .form-group
                            input(type="password" name="password" placeholder="Password" class="form-control")
                        .form-check
                            input(type="checkbox" class="form-check-input")
                            label.form-check-label Remember me
                        button(class="btn btn-block btn-success btn-md btn-login", type="submit") Sign in
                    .help-area
                        p.fl-left <a href="/forget-password">Forget password?</a>
                        p.fl-right Don't have an account? <a href="/register">Register now</a>
